

@font-face {
    font-family: 'Inter var experimental';
    font-weight: 100 900;
    font-display: swap;
    font-style: oblique 0deg 10deg;
    src: url("./font/Inter.var.woff2") format("woff2");
}

body {
    background-color: dodgerblue;

    font-family: 'Inter var experimental';

    color: azure;
}
  